* {
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  margin: 0;
}

#product-overview {
  background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") center/cover no-repeat border-box, #ff1b68;
  /* background-image: url("freedom.jpg");  */
  /* background-color: red;
   background-size: cover;
    background-position: left 10% bottom 20%; 
  /* background-repeat: no-repeat;
    background-origin: border-box;
    background-clip: border-box; */
  /* background-attachment: fixed; */
  /* background-image: linear-gradient(180deg ,red 70%,blue 60%,rgba(0,0,0,0.5)); */
  /* background-image: radial-gradient(ellipse farthest-corner at 20% 50%,red,blue 70%,green); */
  width: 100vw;
  height: 40vh;
  /* padding: 10px; */
  margin-top: 3.75rem;
  /* border: 5px dashed red; */
  position: relative;
}

.plan {
  background: #d5ffdc;
  text-align: center;
  padding: 1rem;
  margin: 0.5rem 0;
  /* display: inline-block; */
  width: 100%;
  /* vertical-align: middle; */
}

.plan--highlighted {
  background: #19b84c;
  color: white;
  /* box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5); */
}

.plan_annotation {
  background: white;
  color: #19b84c;
  padding: 8px;
  box-shadow: 2px 2px 2px 2px rgb(0, 0, 0, 0.5);
  border-radius: 8px;
  width: calc(100% - 15px);
}

.plan_title {
  color: #0e4f1f;
}

.plan_price {
  color: #858585;
}

.plan--highlighted .plan_price {
  color: #0e4f1f;
}

.plan--highlighted .plan_title {
  color: white;
}

.plan_features {
  list-style: none;
  margin: 0;
  padding: 0;
}

.plan_feature {
  margin: 0.5rem 0;
}

@media (min-width: 40rem) {
  .plan_list {
    width: 100%;
    text-align: center;
  }
  .plan {
    display: inline-block;
    width: 30%;
    vertical-align: middle;
  }
}

#Key-features {
  background: #ff1b68;
  margin-top: 80px;
  padding: 16px;
}

#Key-features .section-title {
  color: white;
  margin: 32px;
}

.Key-feature_list {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.Key-feature {
  display: block;
  width: 20%;
  margin-left: 120px;
  /* vertical-align: top; */
}

@media (min-width: 40rem) {
  .Key-feature {
    display: inline-block;
    width: 30%;
    margin-left: -40px;
  } /* vertical-align: top;  */
}

.Key-feature_image {
  background: #ffcede;
  width: 128px;
  height: 128px;
  border: 2px solid #424242;
  border-radius: 50%;
  margin: auto;
  padding: 100px;
}

.Key-feature_description {
  text-align: center;
  font-weight: bold;
  color: white;
  font-size: 20px;
}

.section-title {
  color: #2ddf5c;
  text-align: center;
}

#product-overview h1 {
  color: white;
  font-family: "Anton", sans-serif;
  position: absolute;
  bottom: 5%;
  left: 3%;
  font-size: 1.6rem;
}

/* h1 {
    font-family: sans-serif;
} */

/* .plan_list {
    width: 100%; */
/* margin: auto; */
/* text-align: center;
} */

.modal {
  position: fixed;
  /* display: none; */
  opacity: 0;
  transform: translateY(-3rem);
  transition: opacity 200ms ease-out, transform 500ms ease-out;
  z-index: 200;
  top: 20%;
  left: 30%;
  width: 40%;
  background: white;
  padding: 1rem;
  border: 1px solid #ccc;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal_title {
  text-align: center;
  margin: 0 0 1rem 0;
}

.modal_actions {
  text-align: center;
}

.modal_action {
  border: 1px solid #0e4f1f;
  background: #0e4f1f;
  text-decoration: none;
  color: white;
  font: inherit;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.modal_action:hover,
.modal_action:active {
  background: #2ddf5c;
  border-color: #2ddf5c;
}

.modal_action--negative {
  background: red;
  border-color: red;
}

.modal_action--negative:hover,
.modal_action--negative:active {
  background: #ff5454;
  border-color: #ff5454;
}

@media (min-width: 40rem) {
  #product-overview {
    height: 40vh;
    background-position: 50% 25%;
  }

  #product-overview h1 {
    font-size: 3rem;
  }
}
